#navhead {
  background-color: wheat;
}

.footersection {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

.para {
  background-color: red;
  color: white;
}

table,
th,
td {
  border: 1px solid red;
  padding: 10px;
  border-collapse: collapse;
}